button {
  font-weight: bold;
  height: 60px;
  width: 120px;
  border-radius: 10%;
}
#buttons {
  margin-top: 7.5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#b1:active {
  transform: scale(0.98);
  color: red;
}
#b2:active {
  transform: scale(0.98);
  color: green;
}
#b3:active {
  transform: scale(0.98);
  color: blue;
}
#reset:active {
  transform: scale(0.98);
  color: teal;
}
h1 {
  color: blue;
  text-align: center;
  margin-top: 6.5%;
}

h2 {
  color: red;
  font-size: 30px;
  font-weight: bold;
}
#winner {
  font-size: 50px;
  font-weight: bold;
  color: red;
}
